<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>24 Points Game Rules</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container rulesPage">
        <h1>How to Play 24 Points Game</h1>
        <div class="explanation">
            <p>The 24 Points Game is a mathematical card game where the objective is to make a total of 24 using four numbers. You can use addition (+), subtraction (-), multiplication (×), and division (÷) to achieve the goal. Each number must be used exactly once, and you can only use the four numbers provided.</p>
            <p>To play the game, follow these steps:</p>
            <ol>
                <li>Look at the four given numbers.</li>
                <li>Think of a combination of the four numbers and the four operations that will result in 24.</li>
                <li>You can use parentheses to group numbers and operations for different orders of calculation.</li>
                <li>Each number must be used exactly once in your calculation.</li>
            </ol>
            <h2>Important Tips</h2>
            <p>Sometimes, there is no solution for the given four numbers. If you find yourself stuck, use the "Refresh" button to get four new numbers.</p>
            <p>Try to solve as many questions as possible to get a higher score within the given time of 60 seconds. Use a strategy to refresh and not just get stuck on one question.</p>
            <p>For each question, there is an answer provided. If it's not possible with the given numbers, the state will be mentioned. However, if you see the answer, you won't get points even if you type in the correct solution for that question.</p>
            <h2>Examples</h2>
            <p><strong>Example 1:</strong> If the numbers are 3, 3, 8, and 8, one possible solution is: ((8 ÷ (3 - (8 ÷ 3)))) = 24.</p>
            <p><strong>Example 2:</strong> If the numbers are 1, 5, 5, and 5, one possible solution is: ((5 - 1) × (5 - 5 ÷ 5)) = 24.</p>
            <p><strong>Example 3:</strong> If the numbers are 2, 3, 4, and 6, one possible solution is: (6 ÷ (1 - (5 ÷ 3))) = 24.</p>
            <p><strong>Example 4:</strong> If the numbers are 4, 4, 6, and 6, one possible solution is: ((4 × 4) - (6 - 6)) = 24.</p>
            <a href="/" class="back">Back to Home Page</a>
    </div>
  </body>
</html>
